/* EXPLORE */
.explore .title {
  font-size: calc(var(--fs-xl) - 4px);
  text-transform: uppercase;
  color: var(--clr-dk-grey);
  margin-bottom: 12px;
  line-height: 1.2;
}
.explore .title:first-of-type {
  text-align: center;
}
.explore .main-img {
  width: 100%;
  min-height: 250px;
  border-radius: var(--rad);
}
.explore .project-info {
  background-color: rgb(255 255 255 / 90%);
  position: relative;
  padding: 30px;
  border-radius: var(--rad);
  box-shadow: var(--clr-shadow);
  display: grid;
  gap: 40px;
  text-align: center;
  margin: 30px 0;
}
@media (min-width: 576px) {
  .explore .project-info {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .explore .project-info {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .explore .project-info {
    margin: -140px 30px 60px;
    grid-template-columns: repeat(6, 1fr);
  }
}
.explore .project-info .info :first-child {
  font-size: var(--fs-md);
  color: var(--clr-dk-grey);
  margin-bottom: 6px;
  font-weight: var(--fw-regular);
}
.explore .project-info .info :last-child {
  color: var(--clr-nm-grey);
  font-size: var(--fs-sm);
}
.explore .desc {
  font-size: var(--fs-sm);
  color: var(--clr-nm-grey);
  margin-top: 20px;
}
.explore .desc a {
  color: var(--clr-primary);
}
.explore .images {
  margin: 40px 0;
  display: grid;
  gap: 20px;
}
@media (min-width: 992px) {
  .explore .images {
    grid-template-columns: repeat(2, 1fr);
  }
}
.explore .images img {
  border-radius: var(--rad);
  width: 100%;
}
.explore .pagination {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid var(--clr-border);
  row-gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .explore .pagination {
    flex-direction: row;
    align-items: center;
  }
}
.explore .pagination .left,
.explore .pagination .right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.explore .pagination .right {
  flex-direction: row-reverse;
  text-align: right;
}
.explore .pagination img {
  border-radius: var(--rad);
  width: 100px;
}
.explore .pagination a {
  display: block;
  color: var(--clr-dk-grey);
  transition: var(--transition);
  margin-bottom: 6px;
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
}
.explore .pagination a:hover {
  color: var(--clr-primary);
}
.explore .pagination span {
  font-size: var(--fs-sm);
  color: var(--clr-nm-grey);
}
